{% extends 'plantilla.html' %}

{% block title%} Escritorio{%endblock%}

{% block content%}

<table class="table table-bordered table-stripped">
	<tr>
		<th><a href="/feligres/">Feligreses</a></th>
	</tr>
	<tr>
		<th><a href="">Actas Bautismales</a></th>
	</tr>
	<tr>
		<th><a href="">Primera Comunión</a></th>
	</tr>
	<tr>
		<th><a href="">Actas de Confirmación</a></th>
	</tr>
	<tr>
		<th><a href="">Actas Matrimoniales</a></th>
	</tr>
	<tr>
		<th><a href="">Grupos Apostólicos</a></th>
	</tr>
	
	<tr>
		<th><a href="">Agenda</a></th>
	</tr>

</table>


{%endblock%}
