{% extends 'plantilla.html' %}

{%block title%} Grupos {%endblock%}

{%block content%}

<form action="." method="POST" class="form-horizontal">
	{%csrf_token%}

	
	<div class="control-group">
		{%for f in form%}
		<label class="control-label">{{f.label}}</label>
		<div class="controls">{{f}}</div>
		<div class="controls">{{f.help_text}}</div>
		<div class="controls errors">{{f.errors}}</div>
		{%endfor%}
	</div>

	<div class="form-actions">
		<input type="submit" value="Guardar" class="btn btn-primary">
		<a href="{%url 'group_list'%}" class='btn btn-primary'>Cancelar</a>
	</div>
</form>

{%endblock%}